body { background: #333; color: white; }
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user{
    position: relative;
    margin-left: 5%;
    border: 1px solid #B848EE;
    border-radius: 30px;
    width: 250px;
    text-align: center;
    margin-bottom: 5%;
    padding: 1%;
}

.userText{
    font-family: "Poppins";
    font-weight: 700;
}

.titre{
    font-family: "Poppins";
    margin-left: 1%;
}
.pp{
    position: absolute;
    left: -15.9%;
    right: 83.75%;
    bottom: 7.69%;
    width: 90px;
    height: 90px;
    border: 1px solid #B848EE;
    border-radius: 50%;
    margin-right: 5%;
}

/* .svg{
    position: absolute;
    bottom: 0
} */

.svgHaut{
    position: absolute;
    right: 0;
    top: 0;
}

.link{
    position: absolute;
    right: 0;
    text-decoration: none;
    margin-right: 5vw;
    margin-top: 3vw;
    font-size: 30px;
}

.link:hover{
    font-weight: 700;
}

.containerModal{
    display: flex;
    right: 0;
}
  


.modal{
    width: 660px;
    height: 850px;
    background-color: #333;
    color: white;
    margin-left: 25%;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

/* .ReactModal__Overlay, .ReactModal__Overlay--after-open{
    background-color: red;
} */

.ReactModal__Overlay[style]{
    background-color: transparent !important;
    backdrop-filter: blur(5px);
}